baseURL = "https://zellij.dev/"
title   = "Zellij"
languageCode = "en-us"
theme = "hello-friend-ng"

PygmentsCodeFences = true
PygmentsStyle = "monokai"

paginate  = 10
rssLimit  = 10  # Maximum number of items in the RSS feed.
copyright = "This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License." # This message is only used by the RSS template.

# googleAnalytics = ""
# disqusShortname = ""

archetypeDir = "archetypes"
contentDir   = "content"
dataDir      = "data"
layoutDir    = "layouts"
publishDir   = "public"

buildDrafts  = false
buildFuture  = false
buildExpired = false
canonifyURLs = true

enableRobotsTXT = true
enableGitInfo   = false
enableEmoji     = true
enableMissingTranslationPlaceholders = false
disableRSS     = false
disableSitemap = false
disable404     = false
disableHugoGeneratorInject = false

[permalinks]
  posts = "/news/:title/"

[author]
  name = "Jane Doe"

[blackfriday]
  hrefTargetBlank = true

[taxonomies]
  tag      = "tags"
  category = "categories"
  series   = "series"

[params]
  dateform        = "Jan 2, 2006"
  dateformShort   = "Jan 2"
  dateformNum     = "2006-01-02"
  dateformNumTime = "2006-01-02 15:04"

  # Metadata mostly used in document's head
  # 
  description = "A terminal workspace with batteries included"
  keywords = "rust,terminal,multiplexer"
  images = ["/img/zellij-preview.png"]

  # Home subtitle of the index page.
  #
  homeSubtitle = "A terminal workspace with batteries included"

  # Set a background for the homepage
  # backgroundImage = "assets/images/background.jpg"

  # Prefix of link to the git commit detail page. GitInfo must be enabled.
  #
  # gitUrl = ""

  # Set disableReadOtherPosts to true in order to hide the links to other posts.
  #
  disableReadOtherPosts = false

  # Enable theme toggle
  # 
  # This options enables the theme toggle for the theme. 
  # Per default, this option is off. 
  # The theme is respecting the prefers-color-scheme of the operating systeme. 
  # With this option on, the page user is able to set the scheme he wants. 
  enableThemeToggle = false

  # Sharing buttons
  #
  # There are a lot of buttons preconfigured. If you want to change them,
  # generate the buttons here: https://sharingbuttons.io
  # and add them into your own `layouts/partials/sharing-buttons.html`
  #
  enableSharingButtons = true

  # Integrate Javascript files or stylesheets by adding the url to the external assets or by
  # linking local files with their path relative to the static folder, e.g. "css/styles.css"
  #
  customCSS = []
  customJS  = []

  # Toggle this option need to rebuild SCSS, requires extended version of Hugo
  #
  justifyContent = false  # Set "text-align: justify" to .post-content.

  # Custom footer 
  # If you want, you can easily override the default footer with your own content. 
  #
  # footerLeft = "Powered by <a href=\"http://gohugo.io\">Hugo</a>"
  # footerRight = "Made with &#10084; by <a href=\"https://github.com/rhazdon\">Djordje Atlialp</a>"

  # Colors for favicons
  #
#   [params.favicon.color]
#     mask = "#1b1c1d"
#     msapplication = "#1b1c1d"
#     theme = "#1b1c1d"

  [params.logo]
    logoMark     = ">"
    logoText     = "cd ~/zellij"
    logoHomeLink = "/"
    # Set true to remove the logo cursor entirely.
    # logoCursorDisabled = false
    # Set to a valid CSS color to change the cursor in the logo.
    # logoCursorColor    = "#A3BD8D"
    logoCursorColor = "#BE616B"
    # Set to a valid CSS time value to change the animation duration, "0s" to disable.
    logoCursorAnimate  = "1s"

  # Commento is more than just a comments widget you can embed — 
  # it’s a return to the roots of the internet. 
  # An internet without the tracking and invasions of privacy. 
  # An internet that is simple and lightweight. 
  # An internet that is focused on interesting discussions, not ads. 
  # A better internet.
  # Uncomment this to enable Commento.
  #
  # [params.commento]
  #   url = ""

  # Uncomment this if you want a portrait on your start page
  #
  [params.portrait]
    path     = "/img/logo.png"
    alt      = "Portrait"
    maxWidth = "250px"

  # Social icons
#   [[params.social]]
#     name = "twitter"
#     url  = "https://twitter.com/"

#   [[params.social]]
#     name = "email"
#     url  = "mailto:aram@poor.dev"

  [[params.social]]
    name = "github"
    url  = "https://github.com/zellij-org/zellij"

#   [[params.social]]
#     name = "linkedin"
#     url  = "https://www.linkedin.com/"
# 
#   [[params.social]]
#     name = "stackoverflow"
#     url  = "https://www.stackoverflow.com/"

[menu]
  [[menu.main]]
    weight = 1
    identifier = "about"
    name       = "About"
    url        = "about/"
  [[menu.main]]
    weight = 2
    identifier = "news"
    name       = "News"
    url        = "news/"
  [[menu.main]]
    weight = 3
    identifier = "screenshots"
    name       = "Screenshots"
    url        = "screenshots/"
  [[menu.main]]
    weight = 5
    identifier = "documentation"
    name       = "Documentation"
    url        = "documentation/"
  [[menu.main]]
    weight = 6
    identifier = "repository"
    name       = "Repository"
    url        = "https://github.com/zellij-org/zellij"
