{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}; border-radius:0px" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p style="font-size: 1.5rem; margin-bottom: 45px">{{.}}</p>
            {{- end }}
            <div class="container" style="display: flex; align-items: center; justify-content: center; flex-direction: row; justify-content: space-between; width: 80%; margin: auto; margin-bottom: 50px;">
              <a href="https://github.com/zellij-org/zellij/releases/latest/download/zellij-x86_64-unknown-linux-musl.tar.gz">
                <div class="download-hover">
                  <img src="/img/linux-download.png"/>
                  <img src="/img/linux-download-hover.png" class="img-top"/>
                </div>
              </a>
              <a href="https://github.com/zellij-org/zellij/releases/latest/download/zellij-x86_64-apple-darwin.tar.gz">
                <div class="download-hover">
                  <img src="/img/macos-download.png"/>
                  <img src="/img/macos-download-hover.png" class="img-top"/>
                </div>
              </a>
            </div>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
            <p align="center" style="margin-top: 50px">
              <a href="https://discord.gg/CrUAFH3"><img alt="Discord Chat" src="https://img.shields.io/discord/771367133715628073"></a>
            </p>
        </div>
    </main>
{{ end }}
