<div class="container" style="display: flex; justify-content: center; align-items: center;">
  <div id="player-wrapper" class="{{ .Get 1 }}"></div>
</div>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"
>
</script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/clappr-playback-rate-plugin@latest/dist/clappr-playback-rate-plugin.min.js"
>
</script>

<script>
  var playerElement = document.getElementById("player-wrapper");

  var player = new Clappr.Player({
    source: {{ .Get 0 }},
    mute: false,
    height: 360,
    width: 640,
    plugins: [PlaybackRatePlugin],
    playbackRateConfig: {
      defaultValue: 1,
      options: [
        {value: 0.5, label: '0.5x'},
        {value: 1, label: '1x'},
        {value: 1.5, label: '1.5x'},
        {value: 2, label: '2x'},
      ]
    }
  });

  player.attachTo(playerElement);
</script>
