<div class="container" style="display: flex; justify-content: left; align-items: left;">
  <video class="{{ .Get 1 }}" style="max-width: 960px; width: 100%;">
    <source src={{ .Get 0 }} type="video/mp4">
  </video>
</div>

<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css">
<script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
<script>
  document.querySelectorAll('video:not(.plyr--setup)').forEach(function(el) {
    var p = new Plyr(el, { speed: { selected: 1, options: [0.5, 1, 1.5, 2] } });
    el.classList.add('plyr--setup');
  });
</script>
